.pozo {
    width: 300px;
}

.contGen {
    display: flex;
    flex-direction: column;
}

.rest {
    flex: 1;
}

.rela {
    position: relative;
}

.float {
    position: absolute;
    top: 20px;
    left: 20px !important;
}

.water {
    color: #c19bf5;
    animation: animate2 4s ease-in-out infinite;
    background-color: rgba(132, 171, 242, 0.715);
    width: 145px;
    height: 20%;
}

.over {
    overflow: auto;
    box-sizing: border-box;
    height: 90%;
}

.mainBody {
    position: absolute !important;
    bottom: 10px;
    left: 50px;
    height: 196px;
    overflow: hidden;
    width: 91px;
    display: flex;
    align-items: end;
}

.bodyGrow {
    height: 100%;
    // max-height: 216px;
    background-color: rgba(132, 171, 242, 0.715);
    width: 145px;
    transition: all ease .3s;
}

.bottleCont {
    height: 196px;
    width: 40px;
    border: 3px solid rgba(36, 36, 36, 0.87);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: rgba(206, 225, 246, 0.519);
}

.pipes {
    height: 100%;
    width: 100%;
    background-color: rgb(69, 193, 137);
    transition: background-color ease 1.7s;
}

.scale {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(./../../../assets/images/icons/scaleIcon.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.pad {
    padding: 25px;
    box-sizing: border-box;
}

.w90 {
    width: 90%;
}

.goUpDown {
    transition: all ease .7s;
    max-height: 100%;
}

.agua {
    position: absolute;
    right: -65px;
    top: 114px;
    display: none;
}

.drop {
    scale: 0.34;
    transform: scale(-1, 1);
    overflow: hidden !important;
}

.alibot {
    display: flex;
    align-items: flex-end;
}

.mar {
    margin-right: 17px;
}

.jcr {
    justify-content: right;
}

.title {
    font-weight: 400;
    font-size: 26px;
    position: absolute;
    top: 0;
    right: -50px;
}

.prof {
    position: absolute;
    top: 0;
    right: 10px;
}

h4,
h3 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
    color: #3b3b3b;
}

.off,
.on {
    width: 20px;
    height: 20px;
    scale: .5;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 57, 85, 0.548);
    border: 5px solid rgb(19, 36, 59);
}

.on {
    background-color: rgb(207, 35, 78);
    box-shadow: 0px 0px 40px 20px red;
    animation: light-up 2s infinite ease-in-out;
    border: 5px solid rgb(75, 17, 25);
}

.shine,
.shineOff {
    background-color: rgba(255, 255, 255, 0.445);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shine {
    animation: shine 2s infinite ease-in-out;
}

.shiny {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.26);
}

.redLed {
    left: 45%;
    top: 0;
    position: absolute;
}

.contLoad {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .3s
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 123123;
}

.frame {
    transition: all ease .3s
}

.settings {
    position: absolute;
    top: 2px;
    right: 10px;
}

.marT {
    margin-top: 50px;
}

.btnSett {
    background-color: transparent !important;
    border: none;
    outline: none;
    color: white;
    transition: all ease .10s;
    position: absolute;
    right: 10px;
    top: 5px;
}

.btnSett:hover,
.btnClose:hover {
    scale: 1.05;
}

.btnSett:active,
.btnClose:active {
    scale: 0.90 !important;
}

.cartaAbs {
    width: 25%;
    height: 30%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 2px 4px 0px #000000a5;
    display: flex;
    flex-direction: column;
    min-width: 372px;
    min-height: 272px;
    transition: all ease .3s;
}

.backSett {
    top: 0;
    position: fixed;
    left: 0;
    backdrop-filter: blur(3px) brightness(.8);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.btnClose {
    top: 2px;
    right: 10px;
    position: absolute;
    transition: all ease .3s;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    transition: all ease .10s;
}

.header {
    position: relative;
    min-height: 32px;
}

.w70 {
    width: 90%;
}

.contenedor {
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
}

.marT5 {
    margin-top: 10px;
}

.mt14 {
    margin-top: 14px;
}

.tit {
    position: fixed;
    top: 10px;
    left: 44%;
    color: white;
    display: none;
}

.btnAc,
.btnCan {
    border: none;
    outline: none;
    background-color: #3b3b3b;
    color: white;
    transition: all ease .10s;
    border-radius: 5px;
    width: 120px;
    height: 25px;
}

.darker {
    background-color: #3b3b3b;
}

.btnAc {
    margin-left: 15px;
    background-color: #dee4f2;
    color: black;
}

.btnAc:hover,
.btnCan:hover {
    scale: 1.1;
}

.btnAc:active,
.btnCan:active {
    filter: brightness(.80);
    scale: .89 !important;
}

.botonera {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: right;
    bottom: 10px;
    right: 10px;
    width: 100%;
}

.err {
    transition: all 0.2s ease;
    color: red;
    font-size: 12px;
    font-weight: 300;
    margin-top: 7px !important;
    text-align: center;
    display: none;
}

//#region pressure
.speedometer {
    width: 121px;
    height: 55px;
    border-radius: 100px 100px 0 0;
    // border: 45px solid rgb(70, 84, 177);
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(47, 117, 163), rgb(143, 254, 96), rgb(237, 165, 41)) border-box;
    border: 45px solid transparent;
    border-bottom: none;
    display: inline-block;
    position: relative;
    transition: all ease .6s;
    // animation: animatePress 2s infinite;
}

.speedometer::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 80px;
    background: #999999;
    border-radius: 100% 100% 5px 5px;
    left: calc(50% - 3px);
    bottom: 3px;
    transform-origin: bottom;
    transform: rotate(calc(var(--r)*1.8deg - 90deg));
    transition: all ease .6s;
    animation: animatePress .7s infinite;
    // transform: rotate(var(--my-start-width))!important;
}

.tituloProf {
    position: absolute;
    top: -19%;
}

:root {
    --animateBase: 0!important;
    --animateMid: 2!important;
    --my-start-width: -90deg !important;
}

.d_0 {
    --r: 0 !important;
}

.d_10 {
    --r: 10 !important;
}

.d_20 {
    --r: 20 !important;
}

.d_30 {
    --r: 30 !important;
}

.d_40 {
    --r: 40 !important;
}

.d_50 {
    --r: 50 !important;
}

.d_60 {
    --r: 60 !important;
}

.d_70 {
    --r: 70 !important;
}

.d_80 {
    --r: 80 !important;
}

.d_90 {
    --r: 90 !important;
}

.d_100 {
    --r: 100 !important;
}

//#endregion
//#region button
.btnEnergy1,
.btnEnergy2 {
    background-color: rgb(169, 33, 69);
    border: 2px solid rgb(130, 6, 51);
    outline: none;
    border-radius: 100%;
    color: white;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.50);
    transition: all ease .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// .btnEnergy1:hover {
//     background-color: #6aa3ff !important;
// }
.btnEnergy2 {
    background-color: rgb(50, 56, 69);
    border-color: rgb(25, 28, 34);
}

.icon,
.iconFlash {
    scale: 1.4;
    border-radius: 100%;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 1.5s;
}

.btnT {
    background-color: white;
    margin-bottom: 20px;
}

.rowCont {
    display: flex;
    width: 100%;
}

.w50 {
    width: 50%;
}

.centered {
    justify-content: center;
    display: flex;
    align-items: center;
}

.eng {
    color: white;
    position: absolute;
    scale: 1.2;
    z-index: 1222;
}

.orb {
    text-shadow: 1px 0px 3px #6aa3ff;
    animation: orb 6s infinite;
}

.orb2 {
    text-shadow: 1px 0px 3px #fff36e;
    animation: orb2 6s infinite;
}

.light {
    animation: luz 10s infinite;
}


/* animates orb glow */

@keyframes orb {
    100% {
        text-shadow: 0px 0px 3px #6aa3ff, 0 0 0 #000, 0px 0px 3px #6aa3ff;
    }
    80% {
        text-shadow: 0px 0px 4px #6aa3ff, 0 0 0 #000, 0px 0px 4px #6aa3ff;
    }
    70% {
        text-shadow: 0px 0px 6px #6aa3ff, 0 0 0 #000, 0px 0px 6px #6aa3ff;
    }
    60% {
        text-shadow: 0px 0px 7px #6aa3ff, 0 0 0 #000, 0px 0px 7px #6aa3ff;
    }
    50% {
        text-shadow: 0px 0px 6px #6aa3ff, 0 0 0 #000, 0px 0px 6px #6aa3ff;
    }
    30% {
        text-shadow: 0px 0px 4px #6aa3ff, 0 0 0 #000, 0px 0px 4px #6aa3ff;
    }
    20% {
        text-shadow: 0px 0px 7px #6aa3ff, 0 0 0 #000, 0px 0px 7px #6aa3ff;
    }
    10% {
        text-shadow: 0px 0px 3px #6aa3ff, 0 0 0 #000, 0px 0px 3px #6aa3ff;
    }
}

@keyframes orb2 {
    100% {
        text-shadow: 0px 0px 3px #fff36e, 0 0 0 #000, 0px 0px 3px #fff36e;
    }
    80% {
        text-shadow: 0px 0px 4px #fff36e, 0 0 0 #000, 0px 0px 4px #fff36e;
    }
    70% {
        text-shadow: 0px 0px 6px #fff36e, 0 0 0 #000, 0px 0px 6px #fff36e;
    }
    60% {
        text-shadow: 0px 0px 7px #fff36e, 0 0 0 #000, 0px 0px 7px #fff36e;
    }
    50% {
        text-shadow: 0px 0px 6px #fff36e, 0 0 0 #000, 0px 0px 6px #fff36e;
    }
    30% {
        text-shadow: 0px 0px 4px #fff36e, 0 0 0 #000, 0px 0px 4px #fff36e;
    }
    20% {
        text-shadow: 0px 0px 7px #fff36e, 0 0 0 #000, 0px 0px 7px #fff36e;
    }
    10% {
        text-shadow: 0px 0px 3px #fff36e, 0 0 0 #000, 0px 0px 3px #fff36e;
    }
}

@keyframes luz {
    100% {
        text-shadow: 0px 0px 1px #fff, 0 0 0 #000, 0px 0px 1px #fff;
    }
    80% {
        text-shadow: 0px 0px 0px #fff, 0 0 0 #000, 0px 0px 0px #fff;
    }
    70% {
        text-shadow: 0px 0px 1px #fff, 0 0 0 #000, 0px 0px 1px #fff;
    }
    60% {
        text-shadow: 0px 0px 0px #fff, 0 0 0 #000, 0px 0px 0px #fff;
    }
    50% {
        text-shadow: 0px 0px 1px #fff, 0 0 0 #000, 0px 0px 1px #fff;
    }
    30% {
        text-shadow: 0px 0px 0px #fff, 0 0 0 #000, 0px 0px 0px #fff;
    }
    20% {
        text-shadow: 0px 0px 1px #fff, 0 0 0 #000, 0px 0px 1px #fff;
    }
    10% {
        text-shadow: 0px 0px 0px #fff, 0 0 0 #000, 0px 0px 0px #fff;
    }
}

//#endregion
//#region animation and media
@keyframes shine {
    0% {
        box-shadow: 0px 0px 30px -4px white;
    }
    50% {
        box-shadow: 0px 0px 30px -1px white;
    }
    100% {
        box-shadow: 0px 0px 30px -4px white;
    }
}

@keyframes light-up {
    0% {
        box-shadow: 0px 0px 7px -4px rgb(231, 32, 75);
    }
    50% {
        box-shadow: 0px 0px 7px 4px rgb(231, 32, 75);
    }
    100% {
        box-shadow: 0px 0px 7px -4px rgb(231, 32, 75);
    }
}

@keyframes animate2 {
    0%,
    100% {
        clip-path: polygon( 0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon( 0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@keyframes animatePress {
    0% {
        transform: rotate(calc(var(--r)*1.8deg - 90deg));
    }
    50% {
        transform: rotate(calc(var(--r)*1.8deg - 88deg));
    }
    100% {
        transform: rotate(calc(var(--r)*1.8deg - 90deg));
    }
}

@media only screen and (min-height: 900px) {
    .pozo {
        width: 475px;
    }
    .bottleCont {
        height: 260px;
    }
    .mainBody {
        position: absolute !important;
        bottom: 14px !important;
        left: 80px !important;
        height: 282px;
        overflow: hidden;
        width: auto !important;
    }
}

@media only screen and (max-width: 719px) {
    .float {
        position: absolute;
        right: 20px;
        top: 84px;
    }
}

@media only screen and (max-width: 523px) {
    .float {
        position: absolute;
        left: 20px;
        top: 84px;
    }
}

@media only screen and (max-width: 1000px) and (min-height:1200px) {
    .float {
        position: absolute;
        left: 20px;
        top: 84px;
    }
}

//#endregion
img {
    pointer-events: none;
}