<div class="flx w100 h95">

    <div class="w100 h90 rela">
        <button (click)="changeMap()" class="btnChange" mat-raised-button>Cambiar fondo</button>
        <div class="alic h100">
            <div class="carta cartaCus">
                <div id="map" class="mapHeader rela">
                    <div class="ubicacion">
                        <img (click)="abrirDetalle()" class="ubi" src="./../../../assets/images/icons/iconPozo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detalle" class="cartaDetalle h100">

        <div class="header">
            <h1>Pozo 1</h1>
        </div>
        <div class="jcc">
            <div class="w100 scroll">
                <div class="pad40">
                    <div class="flx jcc h100">
                        <div class="w100">
                            <app-water-measure [idN]="'messure'"></app-water-measure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>