.bottleCont {
    height: 300px;
    width: 40px;
    border: 2px solid rgb(36, 36, 36);
    border-radius: 5px;
}

.pipes {
    width: 100%;
    height: 100%;
    background-color: rgb(69, 193, 137);
    transition: all ease .3s;
}